@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

#admin {
	margin-left: 10px;
	vertical-align: baseline;
  font-size: 16px;
}

.side-by-side {
	display: inline-block;
}

.alert > .alert-message {
	margin: 10px;
}