@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

@font-face {
    font-family: 'icomoon';
    src:    url("../fonts/icomoon/icomoon.eot?mp7mvf");
    src:    url("../fonts/icomoon/icomoon.eot?mp7mvf#iefix") format('embedded-opentype'),
        url("../fonts/icomoon/icomoon.ttf?mp7mvf") format('truetype'),
        url("../fonts/icomoon/icomoon.woff?mp7mvf") format('woff'),
        url("../fonts/icomoon/icomoon.svg?mp7mvf#icomoon") format('svg');
    font-weight: normal;
    font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
    /* use !important to prevent issues with browser extensions that change fonts */
    font-family: 'icomoon' !important;
    speak: none;
    font-style: normal;
    font-weight: normal;
    font-variant: normal;
    text-transform: none;
    line-height: 1;

    /* Better Font Rendering =========== */
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

.icon-cross:before {
    content: "\e900";
}
.icon-checkmark:before {
    content: "\e901";
}
.icon-previous2:before {
    content: "\e902";
}
.icon-next2:before {
    content: "\e903";
}
.icon-arrow-right:before {
    content: "\e904";
}
.icon-arrow-left:before {
    content: "\e905";
}

html, body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
}

#admin, #private {
	margin-left: 10px;
	vertical-align: baseline;
  font-size: 16px;
}

.side-by-side {
	display: inline-block;
}

.vertical-spacer {
	margin-bottom: 1%;
}

.alert > .alert-message {
	margin: 10px;
}

.block {
	display: block;
}

.btn {

	&.disabled {
		pointer-events: none;
	}
}

.channel-logo {
	width: 40px;
	max-width: 50px;
}

.channel-logo-wrapper {
	position: absolute;
	height: 100%;
	top: 0;
	right: 0;
}

.post-header {
	position: relative;
}

a.approval, a.approval:hover, a.approval:active, a.approval:visited {
	text-decoration: none;
	outline: none;
	color: transparent;
}

.panel-body.disapproved {

	&:before {
		content: "DISAPPROVED";
		font-size: 1.5em;
    color: #d9534f;
    position: absolute;
    top: 25px;
    left: 15px;
	}
}

.panel-body.approved {
	
	&:after {
		@extend .panel-body.disapproved:before;
		content: "APPROVED";
    color: #32BD32;
	}
}

.cta-wrapper {
	min-height: 70px;
}

.header-btn-right {
	position: absolute;
	right: 15px;
	margin: 20px 0;
  display: inline-block;
}

.icon {
	height: 16px;
	width: 16px;
	padding: 0 15px 0 0;

	&-close {
		color: #f0ad4e;

		&:hover {
			color: #d9534f;
		}
	}

	&-tick {
		color: #5bc0de;

		&:hover {
			color: #32BD32;
		}
	}
}

.post-container {
	position: relative;
	background-color: #5bc0de;

	.channel-logo {
		position: absolute;
		left: 49%;
		top: 2%;
	}
}

#previous-post, #next-post {
	font-size: 250%;
	color: #fff;
	position: absolute;
	top: 49%;
}

#previous-post {
	left: 2%;
}

#next-post {
	right: 2%;
}

.post-wrapper {
	max-width: 90%;
	max-height: 90%;
	top: 50%;
	left: 50%;
	position: relative;
	opacity: 0;
	border-radius: 3%;
	border: 1px solid #337ab7;
}
.post-author {
	text-align: center;
	margin-bottom: 3%;
	font-family: Verdana, Geneva, sans-serif;
	text-shadow: 0.5px #333;
	color: #fff;
}
.post-image-wrapper {
	height: 70%;
	width: 80%;
	position: relative;
	left: 50%;
	transform: translateX(-50%);
	text-align: center;
}
.post-image {
	border: 1px solid #337ab7;
	border-radius: 3%;

	&-custom {
		max-width: 100%;
		width: 100%;
	}
}
.post-text {
	position: relative;
	margin-top: 3%;
	font-size: 150%;
	font-family: Verdana, Geneva, sans-serif;
	text-align: center;
	text-shadow: 0.5px #333;
	color: #fff;
}

.grid-item {
	margin: 0.1% 0.1% 0 0;
	float: left;
}

@media screen and (min-width: 1391px) {

	.grid-item {
		width: 24.2%;
	}

	.tile, .tile-wrapper {
		width: 20%;
	}
}

@media screen and (max-width: 1390px) {

	.grid-item {
		width: 32%;
	}

	.tile, .tile-wrapper {
		width: 25%;
	}
}

@media screen and (max-width: 900px) {

	.grid-item {
		width: 47.8%;
	}

	#previous-post, #next-post {
		display: none;
	}

	.big-tile {
		width: 100% !important;
		left: 0 !important;
	}

	.tile, .tile-wrapper {
		width: 33.333334%;
	}
	// .header-btn-right {
	// 	position: inherit;
	// 	clear: both;
	// }
}

@media screen and (max-width: 735px) {

	.grid-item {
		width: 99%;
	}

	.tile, .tile-wrapper {
		width: 50%;
	}
}

// .item-test {
// 	width: 20%;
// 	height: 20%;
// 	background-color: yellow;
// 	border: 1px solid #000;
// 	float: left;

// 	&-two {
// 		@extend .item-test;
// 		width: 40%;
// 		height: 30%;
// 	}
// 	&-three {
// 		@extend .item-test;
// 		width: 60%;
// 		height: 40%;
// 	}
// }

.tile-wrapper {
	float: left;
}

.tile {
	transition: all 1s ease-out;
	float: left;
	border: 0.5px solid #337ab7;
	background-repeat: no-repeat;
	background-size: 100% auto;
	background-color: #262626;
	background-position: 50% 50%;
	position: absolute;
	
	.post-details {
		display: none;
	}
}

.big-tile {
	@extend .tile;
	top: 0;
	width: 60%;
	left: 20%;

	.post-details {
		display: inline-block;
		background-color: #262626;
		width: 100%;
	}
}